
.fundo {
	color: white;
	background-color: black;
	}

.reveal section del {
  color: red;
}

.reveal section p {
  color: blue;
}

.exclaim .reveal .state-background {
  background: black;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}


